body {
	background-image: url(img/fond.png);
	font-size: 1.3em;
	max-height: 750px;
	font-family: "Oswald", sans-serif;s
}
.fondblanc {
	background-color: white;
	padding-top: 60px;
	padding-bottom: 10px;

}
.contener {
	margin: auto;
	width: 50%;
}
.fondblanc img {
	float: left;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}
p {
	font-size: 22px;
	opacity: 0.6;
}
li {
	font-size: 22px;
	opacity: 0.6;
}
h2 {
	font-size: 40px;
	color: rgb(184,203,33);
}
.rm {
	text-align: right;
}
.rm a{
	padding: 16px 16px;
	color: white;
	background-color: rgb(184,203,33);
	display: inline-block;
	text-decoration: none;

}
footer {
	text-align: center;
}
footer p {
	font-size: 18px;
}
header {
	background-color: rgb(184,203,33);
	padding-top: 70px;
	padding-right: 100px;
	padding-bottom: 60px;
	padding-bottom: 70px;
	text-transform: uppercase;
	font-family: "Oswald";
	text-align: right;

}
header img {
	float: left;
	margin-top: -55px;
}
#location, #aboutus, #contacts{
	font-size: 30px;
	color: #304929;
	padding-left: 20px;
	padding-right: 20px;
}
.premierbloc, .deuxiemebloc {
	margin-left: 20px;
	margin-right: 20px;
}