.prix {
  font-weight: bold;
  font-size: 24px;
}

/********** trait sur les titre***********
h1 {
    display: inline-block;
    position: relative;
}
h1:after,
h1:before {
    content: "";
    position: absolute;
    height: 1px;
    width: 200%;
    top: 50%;
    right: 100%;
    background: black;
}
h1:after { left: 100%; }
*/
h4 {
  font-family: 'Amaranth', sans-serif;
  opacity: 0.7;
}

.promo {
  padding-top: 20px;
  padding-bottom: 20px;
}

.promo h1 {
  padding-bottom: 20px;
  color: #94AF30;
  text-align: center;
  font-family: 'Amaranth', sans-serif;
}

.promo img {
  width: 100%;
}

.promo p {
  padding-top: 10px;
  text-align: center;
}

.choixthe {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.choixthe h2 {
  text-align: center;
  color: #94AF30;
  width: 100%;
  font-family: 'Amaranth', sans-serif;
}

.choixthe div {
  text-align: center;
}

.choixthe:hover a {
  opacity: 0.6;
}

.choixthe a:hover {
  opacity: 1;
}

section {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

section article {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: auto;
}

section article h2 {
  color: #94AF30;
  font-family: 'Amaranth', sans-serif;
}

section article a {
  padding: 10px 20px 10px 20px;
  background-color: #B08F69;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

section article a:hover {
  text-decoration: none;
  color: white;
}

/********************RESPONSIVE TABLETTE************************/
@media screen and (min-width: 480px) and (max-width: 960px) {
  .choixthe div {
    width: 50%;
  }
  .choixthe .rooibos {
    width: 100%;
  }
  section article {
    width: 95%;
    padding-bottom: 40px;
  }
}

/***************************** RESPONSIVE MOBILE *******************************/
@media screen and (max-width: 480px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  header {
    background-position: bottom;
  }
  header .coin {
    visibility: hidden;
  }
  header .bloc1 {
    display: block;
  }
  header .bloc1 .logo {
    text-align: center;
    width: 100%;
  }
  header .bloc1 .panier {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: -20px;
    padding: 10px 20px 10px 25px;
    border-radius: 50px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  header .bloc1 .panier .mob {
    display: none;
  }
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    line-height: 50px;
  }
  .promo {
    display: none;
  }
  .slide {
    display: none;
  }
  .choixthe .rooibos {
    width: 100%;
  }
  section article {
    width: 95%;
    padding-bottom: 40px;
  }
  footer .liens {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  footer .liens a {
    width: 50%;
  }
  footer .liens .garantie {
    width: 100%;
  }
  footer .fin {
    background-position: bottom;
    text-align: center;
  }
  footer .autre div {
    width: 100%;
  }
  footer .autre div ul {
    margin-right: 30px;
  }
}
/*# sourceMappingURL=index.css.map */