div {
    width: 400px;
    height: 400px;
    background-color: #fc3;
    overflow: auto;
    box-shadow: 1px 2px 3px yellow;
}
h1{
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}