/*font-family: 'Kaushan Script', cursive;
font-family: 'Playfair Display', serif;*/


main{

}

.art1 {
	margin-bottom: 100px;

}
.art1 img {
	float: left;
}


h2 {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-weight: normal;

}

.art2 img {
	float: right;
}

p {
	font-family: 'Playfair Display', serif;
	font-weight: normal;
}


.clear {
	clear: both;
}