* {
	box-sizing: border-box
}

body {
	text-align: center;
	
}

.quanto a {
	background-color: #C13E21;
	float: left;
	text-decoration: none; 
	color: white;
	padding: 15px 25px 15px 25px;

}
.quanto p {
	text-align: right;
}

nav {
	padding-top: 30px;
	text-align: center;
	
}

nav a {
	text-decoration: none;
	color: #C13E21;
	margin-right: auto;
	background-color: #EBEAD8;
	padding: 17px 65px 17px 65px;
}


.container {
	text-align: center;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
}
.bandeau {
	background-image: url(images/people.jpg);
	background-repeat: no-repeat;
	background-position: right;

	background-size: contain;
}



.biznes {
	font-size: 2em;
}

.scret {
	color: #C13E21;
	font-size: 2.2em;
}







.sect2 {
	display: block;
}




.art1 {
	float: left;
	width: 30%;
}
.art1 img {
	float: left;
}

.art2 {
	float: left;
	width: 30%;
}
.art3 {
	float: left;
	width: 30%;
}
.art3 a {
	color: #C13E21;
}












.art4 {
	float: left;
	width: 30%;
}

.art5 {
	float: left;
	width: 30%;
}

.art6 {
	float: left;
	width: 30%;
}



.clear {
	clear: both;
}